{% extends "base.html" %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block title %} About Us{% endblock %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">CardMintCraft</h1>
            <p>Welcome to CardMintCraft, where heartfelt greetings come to life with creativity and convenience. Our
                platform offers a diverse array of customizable and downloadable greeting cards designed for every
                occasion imaginable. Whether it's birthdays, anniversaries, holidays, or simply to say "thank you,"
                we've got you covered.

                At CardMintCraft, we understand the importance of personal connections, which is why we provide a
                seamless and user-friendly experience. With just a few clicks, you can browse our extensive collection,
                personalize your chosen design with heartfelt messages and graphics, and instantly download the finished
                card for printing or digital sharing.

                Our dedicated team of designers is constantly updating our collection to ensure that you have access to
                the latest trends and styles. We're committed to delivering high-quality designs that capture the
                essence of every celebration and milestone.

                Say goodbye to the hassle of searching through crowded stores or waiting in long lines at the post
                office. With CardMintCraft, you can create and send personalized greetings from the comfort of your own
                home, saving you time and stress.</p>

            <p>Thank you for choosing CardMintCraft for all your card needs. We're excited to be a part of your journey
                in spreading love, joy, and heartfelt sentiments, one card at a time.</p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Founder</h2>
                <p>
                    Sahil Sapkal, the visionary founder behind CardMintCraft, is a passionate advocate for heartfelt
                    connections in the digital age. With a background in graphic design and a deep understanding of the
                    power of personal expression, Sahil embarked on a mission to revolutionize the way people share
                    greetings and sentiments.

                    Driven by a desire to make meaningful connections more accessible and convenient, Sahil founded
                    CardMintCraft with the vision of combining creativity with technology. His journey began with a
                    simple idea to create an online platform where individuals could easily customize and download
                    personalized greeting cards for any occasion.
                </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h2>Co-Founder</h2>
                <p>CodeWithHarry, known to many as a prominent figure in the world of coding education, is also a
                    driving force behind the success of CardMintCraft as its co-founder. With a passion for technology
                    and a keen eye for innovation, CodeWithHarry brings invaluable expertise to the intersection of
                    coding and design within the greeting card industry.

                    As a co-founder, CodeWithHarry plays a pivotal role in shaping the technological infrastructure that
                    powers CardMintCraft's seamless user experience. His background in software development and
                    commitment to excellence have been instrumental in ensuring that the platform remains efficient,
                    reliable, and user-friendly. </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h2>Sponsor</h2>
                <p>
                    Sinhagad Institute of Management proudly sponsors CardMintCraft, recognizing the platform's
                    potential to redefine the digital greeting card industry. As a prestigious institution renowned for
                    its dedication to excellence in management education, SIOM brings valuable support and expertise to
                    CardMintCraft's journey.
                    With a focus on nurturing innovation, SIOM serves as a guiding force for CardMintCraft, providing
                    resources, mentorship, and networking opportunities crucial for its growth and success. By
                    sponsoring CardMintCraft, SIOM demonstrates its commitment to empowering emerging startups and
                    fostering a culture of creativity.</p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
        </div>
        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}